---
- name: "Create docker compose directory"
  become: true
  file:
    path: "{{ immich_compose_directory }}"
    state: directory
    owner: "{{ immich_user }}"
    group: "{{ immich_group }}"
    mode: u=rwX,g=r,o=

- name: "Create data directory"
  become: true
  file:
    path: "{{ immich_data_directory }}"
    state: directory
    owner: www-data
    group: www-data
    mode: u=rwX,g=rwX,o=

- name: Get user id
  become: true
  getent:
    database: passwd

- name: Get group id
  become: true
  getent:
    database: group

- name: "Template .env for docker compose"
  become: true
  template:
    src: "env.j2"
    dest: "{{ immich_compose_directory }}/.env"
    owner: "{{ immich_user }}"
    group: "{{ immich_group }}"
    mode: u=rw,g=,o=
  notify: Restart immich container

- name: "Template docker-compose.yml"
  become: true
  vars:
    __uid: "{{ getent_passwd[{{ immich.user }}].1 }}"
    __gid: "{{ getent_group[{{ immich.group }}].1 }}"
  template:
    src: "docker-compose.yml.j2"
    dest: "{{ immich_compose_directory }}/docker-compose.yml"
    owner: "{{ immich_user }}"
    group: "{{ immich_group }}"
    mode: u=rwx,g=r,o=
  notify: Restart immich container
